@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text {
  font-size: calc(1vw + 0.5); /* adds 0.5 to the viewport width */
}

.logo-primary{
  filter: invert(47%) sepia(71%) saturate(3666%) hue-rotate(343deg) brightness(101%) contrast(89%);
}

.logo-default{
  filter: unset;
}